.link__bord{
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: 1px 1px 10px 0px rgb(199, 199, 199);
    color: grey;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    transition: linear 0.3s;
    animation: ease-in linkBord 1s;
}
@keyframes linkBord {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}