.site__header{
    background: grey;
    height: 80px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 0;
    z-index: 10;
}
.navbar__list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.navbar_item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}