.site__header{
    background: white;
    height: 80px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 0;
    z-index: 10;
}
.navbar__list{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 70px;
}
.navbar_item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.navbar_link{
    color: black;
    padding-top: 5px;
}